 /* body {
    background-color: rgb(6, 1, 30);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(243, 243, 249);
    text-align: center;
    word-spacing: 10px;
}

p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: darkgreen;
    text-align: center;
}

.navbar h1 {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 20px 20px;
    margin-top: 0;
    text-align: center;
    word-spacing: 5px;
}

.url-generated {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 320px;
}

.copy-btn {
    background-color: rgb(6, 1, 30);
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.copy-btn:hover {
    background-color: darkblue;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: rgb(6, 1, 30);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkblue;
}

table {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: rgb(6, 1, 30);
    color: white;
}
  */